{% load static %}
<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<link rel="stylesheet" href="{% static 'login/index.css' %}"/>
<script type="text/javascript">
	function previewFile() {
		var preview = document.querySelector('img');
		var file  = document.querySelector('input[type=file]').files[0];
		var reader = new FileReader();
		reader.onloadend = function () {
			preview.src = reader.result;
		}

		if (file) {
		    alert("文件存在");
			reader.readAsDataURL(file);
			}
		else{
		    alert('请重新上传')
        }
	}

	function returnResult(){
		alert("图片中的人数为"+{{result}});
	}
</script>
</head>

<body>
	<div id="container">
		<div id="getJPG">
            <form  action="/uploadImg/" method="post" data-ajax="false" enctype="multipart/form-data">
                {% csrf_token %}
                <input name="image" type="file"onchange="previewFile()"/>上传图片<br><br><br>
                <br>
                <button type="submit">提交</button>
            </form>


		</div>
			<br>
        <div id="img">
            <a>
				<img src="logo.jpg"   alt="图片展示区"/>
			</a>
        </div>
        <br>
        <br>
        <div id="getJPG">
            <button onclick="returnResult()">检测</button>
        </div>





	</div>

</body>
</html>